@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

* {
    font-family: Roboto;
    font-size: 20px;
}

body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label {
    color: #00709e;
    display: inline-block;
    width: 100px;
}

input {
    padding-left: 10px;
    display: inline-block;
    width: 500px;
    outline: none;
    margin-top: 50px;
    border-radius: 10px;
}

select {
    padding-left: 10px;
    display: inline-block;
    width: 508px;
    border-radius: 10px;
    outline: none;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}


/* BOTÕES GERAIS */

.btn {
    width: 100px;
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-top: 0;
    padding: 0;
}

.vermelho {
    background-color: #af3d3d;
}

.verde {
    background-color: #029e3b;
}

.azul {
    background-color: #054477;
}

.vermelho:hover {
    background-color: #9b2121;
}

.azul:hover {
    background-color: #095b9e;
}

.verde:hover {
    background-color: #047e31;
}


/* INPUTS E LABELS DO FORM BUSCAS */

.input-busca {
    width: 400px;
    margin-right: 50px;
}

.label-busca {
    width: 60px;
    text-align: center;
}


/* rodapé dos forms */

.foot-form {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.forms {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border: none;
}


/* CABEÇALHO */

header {
    height: 60px;
    background-color: #00709e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo {
    color: white;
    font-weight: bold;
}

#fechar {
    height: 100%;
    width: 60px;
}

#fechar button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: #045976;
    cursor: pointer;
}

#fechar button:hover {
    background-color: #9b2121;
    color: white;
}


/* CANDIDATO */

#candidato {
    color: #245979;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}


/* TELA CADASTRAMENTO

   BOTÕES TELA INICIAL */

#cadastro {
    display: flex;
    width: 50vh;
    height: 150px;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#cadastro a {
    text-decoration: none;
}

.btn-cadastramento {
    background-color: #054477;
    color: white;
    height: 50px;
    width: 150px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
}

.btn-cadastramento:hover {
    background-color: #095b9e;
}


/* BOTÃO SAIR */

#sair {
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;
}

#sair p {
    font-size: 18px;
    background-color: #af3d3d;
    color: white;
    width: 100px;
    border-radius: 8px;
    cursor: pointer;
}

#sair p:hover {
    background-color: #c54545;
}


/* Forms de Busca */

.busca {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* TELA LISTAGEM - TABELAS */

th {
    background-color: #91c1d7;
    border: 1px solid #4c8ba7;
}

#th-id {
    width: 50px;
}

#th-nome {
    width: 250px;
}

#th-cpf {
    width: 250px;
}

#th-cidade {
    width: 250px;
}

td {
    border: 1px solid #4c8ba7;
}

table {
    border: 1px solid #4c8ba7;
    border-spacing: 0px;
    text-align: center;
}


/* DIV QUANTIDADE */

.qtd {
    justify-content: flex-start;
    margin: auto;
    width: 43%;
    color: #00709e;
}

.qtd p {
    font-size: 15px;
}